body {
    background-image: url("../images/memphis-colorful.png");
}

h1 {
    color: rgb(70, 146, 70);
    font-size: 80px;
    text-align: center;
}

#start {
    background-color: rgb(30, 221, 94);
    text-align: center;
    font-size: 70px;
    border-radius: 12px;
    width:100%; 
}
#end{
    background-color: rgb(30, 221, 94);
    text-align: center;
    font-size: 40px;
    border-radius: 12px;
    width:100%; 
}
